/* html,
body,
*,
*:hover,
*:active,
*:focus,
*::before,
*::after {
  cursor: none !important;
} */
/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Updated background tokens */
  --background-main: #f2f2f2; /* neutral/100 */
  --background-color: #f2f2f2;

  /* New Design Tokens */
  --neutral-100: #f2f2f2;
  --neutral-900: #000000;
  --neutral-0: #ffffff;
  --brand-500: #4554ad;
  --brand-600: #37438a;
  --accent-200: #bfdbfe;
  --accent-300: #93c5fd;
  --accent-500: #3b82f6;
  --accent-600: #2563eb;
  --feedback-error-500: #dc3545;
  --feedback-success-500: #28a745;
  --feedback-warning-500: #ffc107;
  --feedback-info-500: #0dcaf0;
}

body {
  background: var(--background-main);
  font-family: var(--font-inter), system-ui, sans-serif;
  color: var(--neutral-900);
}

html,
body,
#__next {
  height: 100%;
}

/* html,
body,
*,
*:hover,
*:active,
*:focus,
*::before,
*::after,
body * {
  cursor: none !important;
} */
/* Utilise Manrope pour les titres */
h1,
h2,
h3,
h4,
h5,
h6,
.font-title {
  font-family: var(--font-manrope), system-ui, sans-serif;
}
